header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #8f8df0;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  list-style: none;
  padding-bottom: 5px;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
header nav ul {
  display: flex;
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
}

.navbar {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 20px;
  text-align: center;
  align-items: center;
  list-style-type: none;
}
.navbar li a {
  text-decoration: none;
  color: #390029;
}
.navbar li a:hover {
  color: purple;
}

main .section-1 div img {
  width: 100%;
}

.section-2 div img {
  height: 350px;
}

footer {
  text-align: center;
  color: white;
  background-color: black;
  height: 900%;
  width: 100%;
}
footer .facebook {
  position: fixed;
  bottom: 10px;
  right: 90px;
}

.instagram {
  position: fixed;
  bottom: 10px;
  right: 50px;
}

.whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 1024px) {
  header {
    justify-content: space-around;
  }
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img1 img2 img3 img4";
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "img1 img2 img3";
  }
  .navbar {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "img1 img2";
  }
}
